body {
  font-family: Arial, sans-serif;
    background-image: url('clock.png'); /* Replace 'your-image.jpg' with your image file's path */
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1c1b22;
    font-weight: bold;
}


.container {
    text-align: center;
}

h1 {
    color: white;
}

.form {
    text-align: left;
}

label, input {
    display: block;
    margin-bottom: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#result {
    color: #3333ff;
    font-weight: bold;
}
